# Configuration
variables:
  OUTPUTDIR: _build
  URL: https://docs.opsone.ch/saas/
  PROD_URL: https://docs.opsone.ch/saas/
  STAGE_URL: https://test.docs.opsone.ch/saas/
  VERSION: saas

# Docker image
image: "python:latest"

# Define stages
stages:
- mirror
- build
- deploy stage
- test
- deploy prod

# Dependencies
before_script:
  # SSH deploy key
  - apt-get update
  - 'which ssh-agent || apt-get -y install openssh-client'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

include:
  - project: 'opensource/docs'
    ref: 6-0-stable
    file: '.gitlab/ci/mirror.yml'
  - project: 'opensource/docs'
    ref: 6-0-stable
    file: '.gitlab/ci/build.yml'
  - project: 'opensource/docs'
    ref: 6-0-stable
    file: '.gitlab/ci/deploy_stage.yml'
  - project: 'opensource/docs'
    ref: 6-0-stable
    file: '.gitlab/ci/deploy_prod.yml'
  - project: 'opensource/docs'
    ref: 6-0-stable
    file: '.gitlab/ci/linkchecker.yml'
