---
# configuration
# this configuration is linked into the different version branches
image: python:3-slim

# stages
stages:
  - deploy_test
  - deploy_prod

# hidden job templates used on prod and stage
.load_sshkey: &load_sshkey
  # load SSH deploy key
  - 'which ssh-agent || apt-get update && apt-get -y install openssh-client'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

.build_sphinx: &build_sphinx
  # install dependencies
  - apt-get update && apt-get --yes install rsync
  - pip install Sphinx==3.0.0b1
  - pip install sphinx_rtd_theme
  # check links
  - sphinx-build . ./_build/ -aEW -b linkcheck
  # build documentation
  - sphinx-build . ./_build/ -aEW

deploy_prod:
  stage: deploy_prod
  environment: ${CI_COMMIT_REF_NAME}
  only:
    variables:
      - $MAINBRANCH == $CI_COMMIT_REF_NAME
  script:
    - *load_sshkey
    - *build_sphinx
    - rsync -avz --delete ./_build/ ${PROD_USERNAME}@${PROD_SERVERNAME}:~/www/${CI_COMMIT_REF_NAME}/

deploy_test:
  stage: deploy_test
  environment:
    name: ${CI_COMMIT_REF_NAME}_test
    url: https://${STAGE_HOST}/${CI_COMMIT_REF_NAME}/
    on_stop: remove_test
  script:
    - *load_sshkey
    - *build_sphinx
    - rsync -avz --delete ./_build/ ${STAGE_USERNAME}@${STAGE_SERVERNAME}:~/www/${CI_COMMIT_REF_NAME}/

remove_test:
  stage: deploy_test
  environment:
    name: ${CI_COMMIT_REF_NAME}_test
    action: stop
  when: manual
  except:
    variables:
      - $MAINBRANCH == $CI_COMMIT_REF_NAME
  script:
    - *load_sshkey
    - ssh ${STAGE_USERNAME}@${STAGE_SERVERNAME} -- "rm -r ~/www/${CI_COMMIT_REF_NAME}/"

