.wy-menu-vertical {
    padding-bottom: 200px;
}
#branch-navigation {
    position: fixed;
    bottom: 0;
    width: 300px;
    padding-bottom: 10px;
    background: #272525;
}
#branch-navigation h3 {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-size: 14.4px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    margin: 0 0 5px 0;
    padding: 5.8248px 23.2992px;
    border-top: solid 1px #4798ce;
    border-bottom: solid 1px #265777;
    background: #2980B9;
}
#branch-navigation .current-version {
    margin: -1px 0;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
}
#branch-navigation .current-version a,
#branch-navigation .current-version a:hover {
    font-weight: bold;
    color: #404040;
    background: #fcfcfc;
    cursor: auto;
}
@media screen and (max-width: 768px) {
    .shift #branch-navigation {
        width: 85%;
    }
}